{% extends "layout.html" %}

{% block main %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.total_shares }}</td>
                    <td>{{ stock.price|usd }}</td>
                    <td>{{ (stock.price * stock.total_shares)|usd }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr><td colspan="4"></td></tr>
            <tr>
                <td class="fw-bold" colspan="3" align="right">Total</td>
                <td>{{ total|usd }}</td>
            </tr>
            <tr>
                <td class="fw-bold" colspan="3" align="right">Cash Remaining</td>
                <td>{{ cash|usd }}</td>
            </tr>
        </tfoot>
{% endblock %}
