body {
    background-color: #5f797a;
    font-family:American Typewriter, serif;
}

.btn-group {
    display: flex;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
}

.card-img-top {
    display: flex;
    object-fit: cover;
    height: 225px;
    width: 100%;
}

.card {
    top: 10px;
}

.text-center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}




